<app-navbar></app-navbar>
<body>
  <p *ngIf="user">Logged in as: {{user.displayName}} </p>

    <div>
      <form>
        <div>
          <label for="playerSelect">Select Number of players:</label>
          <select name="numOfPlayers" >
            <option value="">--Please choose an option--</option>
            <option value="onePlayer">Single player</option>
            <option value="twoPlayer">2 Players</option>
            <option value="threePlayer">3 Players</option>
            <option value="fourPlayer">4 players</option>
          </select>
        </div>

        <div *ngIf="cards">
          <label for="cardSet">Select card set:</label>
          <select name="cardSet" >
            <option *ngFor="let card of cards.sets">{{card.name}}</option>
          </select>
        </div>
        <p>MATCHES TO FIND</p>



        <!-- ng if single player dont show -->
        <div>
          Select opponent(s)
          <div *ngFor="let user of users; let i = index;">
            <div class="options">
              <div class="option faded" id="option1">

                <div [ngClass]="selecteds.indexOf(i) >= 0 ? 'pokeball selected' : 'pokeball unselected'"
                (click)="clickEvent(i)">
                  <div class="upper-half"> </div>
                  <div class="lower-half"> </div>
                  <div class="base"> </div>
                  <div class="inner-circle"> </div>
                  <div class="indicator visible"> </div>
                  <div class="indicator-inner"> </div>
                </div>
                <div> {{user.displayName}} </div>
              </div>
            </div>
          </div>
        </div>


      </form>

    </div>

    <button routerLink="/game">START GAME</button>










</body>
