<app-navbar></app-navbar>
<body class="lobby">
  <p *ngIf="user">Logged in as: {{user.displayName}} </p>
  <br>
    <div>
      <form >

        <div style="padding-bottom: 20px" *ngIf="cards">
          <label for="cardSet">Select card set:</label>
          <select name="cardSet" [(ngModel)]="setSelected" >
            <option [value]="card.code" *ngFor="let card of cards.sets">{{card.name}}</option>
          </select>
        </div>
        <!-- <p>{{setSelected}}</p> -->

        <div>
          <label for="playerSelect">Select Number of players:</label>

          <select id="playerSelect" name="playerSelect"
          [(ngModel)]="optionselected">
            <option *ngFor="let player of playerSelect" [value]="player.id">
              {{player.viewValue}}
            </option>
          </select>
          <br>
          <!-- selected value is {{optionselected}} -->

        <!-- ng if single player dont show -->
        <div *ngIf="optionselected != playerSelect[0].id && optionselected != playerSelect[1].id">

          <p>Select opponent(s)</p>
          <div *ngFor="let user of users; let i = index;" [id]="user.uid">
            <div class="options">
              <div class="option faded" id="option1">

                <div [ngClass]="selecteds.indexOf(i) >= 0 ? 'pokeball selected' : 'pokeball unselected'"
                (click)="clickEvent(i)">
                  <div class="upper-half"> </div>
                  <div class="lower-half"> </div>
                  <div class="base"> </div>
                  <div class="inner-circle"> </div>
                  <div class="indicator visible"> </div>
                  <div class="indicator-inner"> </div>
                </div>
                <div> {{user.displayName}} </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      </form>

    </div>

    <button (click)="goToGame(setSelected)">START GAME</button>


</body>
<img class="sprites" alt="sprites" [src]="'../../../assets/img/pokemon-sprites-clipart.png'">
