<body>
  <div>
    <p style="font-size: 32px;">Pokémon Matcher!</p>
  </div>

    <div>
      <form #userRegForm="ngForm" (ngSubmit)="register(userRegForm)">
         <label for="username">Username:</label>
        <input ngModel type="text" #username='ngModel' name="username" placeholder="Ex. John Smith" >
        <br>
        <label for="email">Email:</label>
        <input ngModel type="email" name="email" #email="ngModel" placeholder="Ex. Ashketchum@gmail.com" required>
        <br>
        <label for="password">Password:</label>
        <input ngModel type="password" #password='ngModel' name="password" placeholder="Password" required>
        <br>
        <button type="submit">Sign up</button>
      </form>
    </div>

    <div>
      <h3>Already have an account?
        <a routerLink="/login" routerLinkActive="active">Login here!</a>
      </h3>
    </div>
</body>


