<body>
  <div>
    <p style="font-size: 32px;">Pokémon Matcher!</p>
  </div>

    <div>
      <form>
        <label for="email">Email:</label>
        <input type="email" name="email" #email placeholder="Ex. Ashketchum@gmail.com">
        <br>
        <label for="password">Password:</label>

        <input type="password" name="password" #password placeholder="Password">
        <button (click)="onSignIn(email.value, password.value)">Login</button>
      </form>
      <br>
      <button (click)="handleGoogleLogin()">Login With Google</button>
    </div>


    <div>
      <h3>Don't have an account?
        <a routerLink="/sign-up" routerLinkActive="active">Sign up here!</a>
      </h3>
    </div>
</body>


