<body>
<div>
  <h1>Pokémon Matcher</h1>
</div>

  <div>
    <form>
      <label for="email">Email:</label>
      <input type="email" name="email" placeholder="Ex. Ashketchum@gmail.com">
      <br>
      <label for="password">Password:</label>

      <input type="password" name="password" placeholder="Password">
      <button type="submit">Login</button>
    </form>
    <br>
    <button type="submit">Login With Google --soon</button>
  </div>


  <div>
    <h3>Don't have an account?
        <a routerLink="/signup" routerLinkActive="active">Sign up here!</a>
        <a routerLink="/game-room" routerLinkActive="active">Sign up here!</a>
    </h3>
  </div>

</body>

