<body>
  <div>
    <p style="font-size: 32px;">Pokémon Matcher!</p>
  </div>

    <div>
      <form #loginForm="ngForm" (ngSubmit)="onSignIn(loginForm)" >

        <label for="email">Email:</label>
        <input ngModel type="email"  name="email" #email="ngModel" placeholder="Ex. Ashketchum@gmail.com">

        <br>
        <label for="password">Password:</label>

        <input ngModel type="password" name="password" #password="ngModel" placeholder="Password">
        <button type="submit">Login</button>
      </form>
      <br>
      <button (click)="handleGoogleLogin()">Login With Google</button>
    </div>


    <div>
      <h3>Don't have an account?
        <a routerLink="/sign-up" routerLinkActive="active">Sign up here!</a>
      </h3>
    </div>
</body>


