<body>
  <p class="profile" style="font-size: 24px; padding: 10px;">User Profile</p>
  <p class="gamesPlayed" style="font-size: 16px; padding: 10px;">Battles Fought:</p>
  <p class="gamesWon" style="font-size: 16px; padding: 10px;">Battles Won:</p>
  <p class="gamesLost" style="font-size: 16px; padding: 10px;">Battles Lost:</p>
  <p class="playersWonAgainst" style="font-size: 16px; padding: 10px;">Trainers You've Won Against:</p>
  <p class="playersLostAgainst" style="font-size: 16px; padding: 10px;">Trainers You've Lost Against:</p>
</body>
